.lineargrad{
	width: 50px;
	height: 60px;
	background: linear-gradient(to right,red,green);
    border-radius: 5px;
}
.circlegrad{
	width: 50px;
	height: 60px;
	background: radial-gradient(circle farthest-corner at 25px -10px,red,yellow,green);
	background-color: red;
	border-radius: 5px;	
}
.ellipsegrad{
	width: 50px;
	height: 60px;
	background: radial-gradient(ellipse  farthest-corner at 25px -5px,red,yellow,green);
	background-color: red;
	border-radius: 5px;
}